.book{
background-color:blue
}
#dustbin{
background-color: beige;
width:100px;
margin-left:50px
}

.laptop{
 background-color:black
 margin- right 200px;
width: 40px;

}
#vacation{
background-color:aqua
margin-left 250px;
width:100px
}
.reuse{
width:100px;
background-color:blueviolet
margin-bottom300px;
}
















